/* 
    Document   : index
    Created on : 19/10/2011, 10:00:40 PM
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* =============================================================================
   Base
   ========================================================================== */

html { 
    font-size: 100%; 
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%;
    overflow-x: hidden;
}

body { 
    margin: 0; 
    font-size: 13px; 
    line-height: 1.231; 
    width: 100%;
    min-width:600px;
}

body, button, input, select, textarea { 
    font-family: sans-serif; 
    color: #222; 
}

/*
* Selección de texto
*/
/*::-moz-selection { 
    background: #fe57a1; 
    color: #fff; 
    text-shadow: none; 
}

::selection { 
    background: #fe57a1; 
    color: #fff; 
    text-shadow: none; 
}*/

/* =============================================================================
   Margen de las listas 
   ========================================================================== */

ul, ol {
    margin: -1em 0; 
    padding: 0 0 0 0px; 
}

dd { 
    margin: 0 0 0 40px; 
}

nav ul, nav ol { 
    list-style: none; 
    margin: 31px 0 0 0; 
    padding: 1px; 
}

/* =============================================================================
   Inicializar el Thema
   ========================================================================== */

body{
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.wrapper2{
    margin:auto;
    width:960px;
    text-align: center;
}

.wrapper0{
    margin:auto;
    width:960px;
}

.wrapper{
    margin:auto;
    width:960px;
    padding: 5px 15px 5px 15px;
    border-radius:10px;	
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow: 0 0 10px #339cdf;
    -moz-box-shadow: 0 0 10px #339cdf;
    -o-box-shadow: 0 0 10px #339cdf;
    -webkit-box-shadow: 0 0 10px #339cdf;
}

.header-container{	
    height:130px;
    border-bottom:20px solid #339cdf;
    margin-bottom:70px;
    -webkit-box-shadow:0 40px 40px -40px #9d9d9d;
    -moz-box-shadow:0 40px 40px -40px #9d9d9d;
    -o-box-shadow:0 40px 40px -40px #9d9d9d;
    box-shadow:0 40px 40px -40px #9d9d9d; 
}

h2, h3{
    margin:30px 0;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

#title, h2, h3{
    font-weight:normal; 
}

#title{
    font-size: 60px;
    color:white;
    float:left;
    margin-top: 25px;
}

#logotipo{
    float: left;
    padding: 0px;
    width: 130px;
    height: 130px;
    margin-left: -40px;
}

header nav{
    float:right;
    margin-top:100px;
}

header nav ul li{
    display:inline;
}

nav a{
    padding:20px;
    color:white;
    text-decoration:none;
    background-color: #339cdf;
    border-radius:15px;
    font-weight: bold;
    box-shadow: inset 5px 5px 10px #ffffff;
    -webkit-box-shadow: inset 5px 5px 10px #ffffff; 
    -moz-box-shadow: inset 5px 5px 10px #ffffff; 
    -o-box-shadow: inset 5px 5px 10px #ffffff;  
}

#registro{
    background-color: lightyellow;
    -moz-box-shadow: inset 0 0 10px black;
    -o-box-shadow: inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0 10px black;
    box-shadow: inset 0 0 10px black;
    color: black;
}

#registro:hover{
    background-color: #339cdf;
    -moz-box-shadow: inset 2 2 10px #ffffff;
    -o-box-shadow: inset 0 0 10px #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
    box-shadow: inset 2 2 10px #ffffff;
    color: #ffffff;
    opacity:0.9;
}

nav a:hover{
    -moz-box-shadow: inset 0 0 10px black;
    -o-box-shadow: inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0 10px black;
    box-shadow: inset 0 0 10px black;  
    color:#333;
    cursor: pointer; 
    opacity:0.8;
    background: #ffe35c;
}

nav a:active {
  position: relative;
  top: 2px;
}

aside{
    color:white;
    padding:20px;
    float:right;
    height:500px;
    width:200px;
    -webkit-box-shadow:5px 5px 10px #777;
    -moz-box-shadow:5px 5px 10px #777;
    -o-box-shadow:5px 5px 10px #777;
    box-shadow:5px 5px 10px #777;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
}

#main p{
    font:16px/26px Helvetica, Helvetica Neue, Arial;
    width:620px;
}

article header{
    margin-bottom:50px;
    padding-bottom:30px;
    width:700px;
}

#footer-container{
    height:260px ;
    border-top:20px solid #339cdf;
    margin-top:210px;	
}

#footer-container footer{
    color:white;
}

#nsecundarias{
    padding-top:250px;
}

#foot{
    padding-top:10px;
    padding-bottom: 10px;
}


/* =============================================================================
   Estilo para la zona de login
   ========================================================================== */

a { 
    text-decoration:none;
    padding:0px; 
}

#container2 { 
    width:1960px; 
    margin:0px 0px 0px 0px;
    background:#000; 
}

/*-------LOGIN EMPIEZA AQUÍ-------*/

#loginContainer {
    position:relative;
    float:left;
    /*margin-left:-219px;*/
    margin-left:-325px;
    margin-top:-27px;
    font-size:13px;
    font-weight:bold;
}

#loginButton { 
    display:inline;
    float:right;
    background:#339cdf; 
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    border-radius:15px;
    position:relative;
    z-index:30;
    color:white;
    cursor:pointer;
    margin: 140px 0px -10px -296px;
    -webkit-box-shadow: inset 5px 5px 10px #ffffff; 
    -moz-box-shadow: inset 5px 5px 10px #ffffff; 
    -o-box-shadow: inset 5px 5px 10px #ffffff;  
    box-shadow: inset 5px 5px 10px #ffffff;
}

#loginButton span {
    font-size:13px; 
    color:#FFF;
    padding: 18px;
    display:block;
    font-weight: bold;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
}

#loginButton span:hover{
       color:#333; 
}

#loginButton:hover {
    -moz-box-shadow: inset 0 0 10px black;
    -o-box-shadow: inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0 10px black;
    box-shadow: inset 0 0 10px black;  
    cursor: pointer; 
    opacity:0.8;
    background: #ffe35c;
}

#loginButton:active{
  position: relative;
  top: 2px;
  -moz-box-shadow:inset  0 0 10px lightgreen;
  -o-box-shadow:inset  0 0 10px lightgreen;
  -webkit-box-shadow:inset 0 0 10px lightgreen;
  box-shadow:inset 0 0 10px lightgreen;
}

#loginButton span:active{
  position: relative;
  top: 2px;
  -moz-box-shadow:inset  0 0 10px lightgreen;
  -o-box-shadow:inset  0 0 10px lightgreen;
  -webkit-box-shadow:inset 0 0 10px lightgreen;
  box-shadow:inset 0 0 10px lightgreen; 
}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
    margin-top:155px;
    margin-right:-88px;
}


#loginForm {
    width:248px; 
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    margin-top:-1px;
    background:#339cdf;
    padding:6px; 
    -webkit-box-shadow:0 0px 40px -10px #AAA;
    -moz-box-shadow:0 0px 40px -10px #AAA;
    -o-box-shadow:0 0px 40px -10px #AAA;
    box-shadow:0 0px 40px -10px #AAA;
    opacity:0.9;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#80c2e3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    padding:10px 13px;
    margin:0;
    opacity:0.9;
}

#body label {
    color:#ffffff;
    margin:9px 0 0 0;
    font-weight:bold;
    display:block;
    float:left;
}


#loginForm #body fieldset{
    display:block;
    float:none;
    margin:0 0 6px 0;
}

#loginForm input {
    width:82%;
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    color:#141414;
    font-weight:bold;
    padding: 8px 8px 8px 31px;
    font-size:13px;
    border-color:#ffffff;
    box-shadow: 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 6px #ffffff;
    -o-box-shadow: 0px 0px 6px #ffffff;
    -webkit-box-shadow: 0px 0px 6px #ffffff;
}

.email:hover{ 
    background: #F2EF66 url(../Imagenes/logeo/usu.gif) no-repeat scroll 0;
    background-position: 4px 4px; 
}

.email:focus{
    background: #F2EF66 url(../Imagenes/logeo/usu.gif) no-repeat scroll 0;
    background-position: 4px 4px; 
    outline: none;
}

.pas:hover{
    background:#F2EF66 url(../Imagenes/logeo/pas.png) no-repeat scroll 0 ;
    background-position: 4px 4px;
}

.pas:focus{
    background: #F2EF66 url(../Imagenes/logeo/pas.png) no-repeat scroll 0;
    background-position: 4px 4px; 
    outline: none;
}

.email{
    background:#fff url(../Imagenes/logeo/usu.gif) no-repeat scroll 0 ;
    background-position: 4px 4px;
}

.pas{
    background:#fff url(../Imagenes/logeo/pas.png) no-repeat scroll 0 ;
    background-position: 4px 4px;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 12px;
    float:left;
    padding:0;
    border:0;
}

#loginForm #login {
    width:auto;
    float:right;
    background:#339cdf;
    color:#fff;
    padding:7px 10px 8px 10px;
    margin:0 12px 0 0;
    cursor:pointer;
    box-shadow: inset 0 0 10px #E4E4E4;
    -moz-box-shadow: inset 0 0 10px #E4E4E4;
    -o-box-shadow: inset 0 0 10px #E4E4E4;
    -webkit-box-shadow: inset 0 0 10px #E4E4E4;
}

#loginForm #login:hover{
    background: green;
    opacity:0.8;
    color: black;
    
}

#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#FFF;
    font-size:13px;
}

#loginForm span a:hover{
    color: black;
}

/* =============================================================================
   Estilo para el scroll de eventos
   ========================================================================== */

#eventos{
    padding:5px 5px 5px 5px;
    width: 190px;
    height: 420px;
    overflow: hidden;
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    -ms-border-radius:10px;
    -moz-box-shadow: inset 0 0 10px #E4E4E4;
    -o-box-shadow: inset 0 0 10px #E4E4E4;
    -webkit-box-shadow: inset 0 0 10px #E4E4E4;
    box-shadow: inset 0 0 10px #E4E4E4;
}

#eventos ul{
    margin-left: 5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    padding: 0;
    position: relative;
}

#eventos li{
    margin:0px 0px 0px 0px;
    padding: 15px;
    height: 50px;
    overflow: hidden;
    line-height: 16px;
    border-bottom:#D3F0FA 1px solid;
}

#eventos li a{
    font-weight: bold;
    text-transform: uppercase;
    color:#000;
    text-align:center;
}

#tituloEvento{
    font-size: 30px;
    margin-bottom:5px;
    margin-top:-10px;
    text-align:center;
    text-shadow:5px 5px 10px #000;
}


/* =============================================================================
   Estilo para noticas principal
   ========================================================================== */

#flip-tabs{
    width:640px;
    float:left;
    margin-top:10px auto;
}

#flip-navigation{
    margin-top:20px;
    list-style:none;
    text-align:center;	
}

#flip-navigation li{ 
    display:inline; 
}

#flip-navigation li a{
    text-decoration:none; 
    padding:8px; 
    margin-right:0px;
    background:#96a1ff;
    color:#333; outline:none;
    font-family:Arial; 
    font-size:12px; 
    text-transform:uppercase;
    border-radius:10px;	
    box-shadow: inset 0 0 10px #E4E4E4;
    -moz-box-shadow: inset 0 0 10px #E4E4E4;
    -o-box-shadow: inset 0 0 10px #E4E4E4;
    -webkit-box-shadow: inset 0 0 10px #E4E4E4;
}

#flip-navigation li a:hover{
  position: relative;
  top: 2px;
  -moz-box-shadow:inset  0 0 10px #339cdf;
  -o-box-shadow:inset  0 0 10px #339cdf;
  -webkit-box-shadow:inset 0 0 10px #339cdf;
  box-shadow:inset 0 0 10px #339cdf; 
}

#flip-navigation li.selected a{
    background:lightgreen;
    color:#f0f0f0;
    font-size: 14px;
}

#flip-container {  
    width:640px;
    height:280px;
    font-family:Arial; font-size:13px;
    margin-top:7px;
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
}

#flip-container:hover{
    -webkit-box-shadow: 1px 1px 10px lightgreen;
    -moz-box-shadow: 1px 1px 10px lightgreen;
    -o-box-shadow: 1px 1px 10px lightgreen;
    box-shadow: 1px 1px 10px lightgreen;
}

#flip-container h2{ 
    text-align:center;
}

#flip-container p{ 
    text-align:justify;
    padding-left:10px;
}

#flip-container div.orange{ 
    background:#f9d999;
    border-radius:10px; 
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    padding-left:10px;
    box-shadow: inset 0 0 20px #FFF;
    -webkit-box-shadow: inset 0 0 20px #FFF;
    -o-box-shadow: inset 0 0 20px #FFF;
    -webkit-box-shadow: inset 0 0 20px #FFF;	
}

#flip-container div.green{ 
    background:#d9f9d9; 
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    padding-left:10px;
    box-shadow: inset 0 0 20px #FFF;
    -webkit-box-shadow: inset 0 0 20px #FFF;
    -o-box-shadow: inset 0 0 20px #FFF;
    -webkit-box-shadow: inset 0 0 20px #FFF;
}

#flip-container div.blue{ 
    background:#c9d9f9;
    border-radius:10px; 
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    padding-left:10px;
    box-shadow: inset 0 0 20px #FFF;
    -webkit-box-shadow: inset 0 0 20px #FFF;
    -o-box-shadow: inset 0 0 20px #FFF;
    -webkit-box-shadow: inset 0 0 20px #FFF;
}

/* =============================================================================
   Estilo para noticas secundarias
   ========================================================================== */

.tickercontainer { /* the outer div with the black border */
    -webkit-box-shadow: 1px 1px 10px lightgreen;
    -moz-box-shadow: 1px 1px 10px lightgreen;
    -o-box-shadow: 1px 1px 10px lightgreen;
    box-shadow: 1px 1px 10px lightgreen;
    background: #D3F0FA; 
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    width: 638px; 
    height: 170px; 
    margin-top: 37px; 
    padding: 0;
    overflow: hidden; 
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    left: 10px;
    top: 8px;
    width: 718px;
    overflow: hidden;
}

ul.newsticker { /* that's your list */
    position: relative;
    left: 750px;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left; /* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding: 10px 10px 10px 10px;
    background: #D3F0FA;
    /*border: 1px solid;*/
    text-align: justify;
    width: 450px;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #ff0000;
    font: bold 10px Verdana;
    margin: 0 50px 0 0;
} 

ul.newsticker span {
    margin: 0 10px 0 0;
} 

/* =============================================================================
   Estilo para el slip de las fotos
   ========================================================================== */

#demo-right{
    width: 85%;
    float: right;
    margin-right: 42px;
}

#hWrapperAuto{
    margin-top: 20px;
}

#demo-tabs{
    width: 100%;
    height: 50px;
    color: White;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

/*Horizontal Orientation CSS*/
.jscarousal-horizontal{
    width: 740px;
    height: 118px;
    background-color: #638668;
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    -webkit-box-shadow: 1px 1px 10px lightgreen;
    -moz-box-shadow: 1px 1px 10px lightgreen;
    -o-box-shadow: 1px 1px 10px lightgreen;
    box-shadow: 1px 1px 10px lightgreen;
    margin-top: 40px;
    padding: 22px 8px 22px 8px;
    position: relative; /*overflow: hidden;*/

}

.jscarousal-horizontal-back, .jscarousal-horizontal-forward{
    float: left;
    width: 20px;
    height: 98px;
    background-color: #121212;
    color: White;
    position: relative;
    top: 4px;
    cursor: pointer;
    border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    -webkit-box-shadow: inset 1px 1px 10px lightgreen;
    -moz-box-shadow: inset 1px 1px 10px lightgreen;
    -o-box-shadow: inset 1px 1px 10px lightgreen;
    box-shadow: inset 1px 1px 10px lightgreen;
}

.jscarousal-horizontal-back{
    background-image: url(../Imagenes/index/i_left_arrow.png);
    background-repeat: no-repeat;
    background-position: 0.3em;
}

.jscarousal-horizontal-back:hover, .jscarousal-horizontal-forward:hover{
    background-color: #ffffff;
    -webkit-box-shadow: inset 1px 1px 10px black;
    -moz-box-shadow: inset 1px 1px 10px black;
    -o-box-shadow: inset 1px 1px 10px black;
    box-shadow: inset 1px 1px 10px black;       
}

.jscarousal-horizontal-forward{
    background-image: url(../Imagenes/index/i_right_arrow.png);
    background-repeat: no-repeat;
    background-position: right;
}

.jscarousal-contents-horizontal{
    width: 690px;
    height: 124px;
    float: left;
    position: relative;
    overflow: hidden;
    color: black;
}

.jscarousal-contents-horizontal > div{
    position: absolute;
    width: 100%;
    height: 124px;

}

.jscarousal-contents-horizontal > div > div{
    float: left;
    margin-left: 8px;
    margin-right: 8px;

}

.jscarousal-contents-horizontal img{
    width: 120px;
    height: 94px;
    border: solid 1px #7A7677;
    background:green;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
}

/*Common*/
.hidden{
    display: none;
}

.visible{
    display: block;
}

.thumbnail-active{
    filter: alpha(opacity=100);
    opacity: 1.0;
    cursor: pointer;
}

.thumbnail-inactive{
    filter: alpha(opacity=20);
    opacity: 0.6;
    cursor: pointer;
}

.thumbnail-text{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 2px 2px 0px;
}


/*------------------------------------------------------------------------------
estilo para el poput de las fotos
-----------------------------------------------------------------------------*/

#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}

#jquery-lightbox a img { 
    border: none; 
}

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius:10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
    -o-border-radius:10px 10px 0px 0px;
}

#lightbox-container-image { 
    padding: 10px; 
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav { 
    left: 0; 
}

#lightbox-nav a { 
    outline: none; 
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}

#lightbox-nav-btnPrev { 
    left: 0; 
    float: left;
}

#lightbox-nav-btnNext { 
    right: 0; 
    float: right;
}

#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
    border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    -o-border-radius:0px 0px 10px 10px;
}

#lightbox-container-image-data {
    padding: 0 10px; 
    color: #666; 
}

#lightbox-container-image-data #lightbox-image-details { 
    width: 70%; 
    float: left; 
    text-align: left; 
}

#lightbox-image-details-caption { 
    font-weight: bold; 
}

#lightbox-image-details-currentNumber {
    display: block; 
    clear: left; 
    padding-bottom: 1.0em;	
}	

#lightbox-secNav-btnClose {
    width: 40px; 
    float: right;
    padding-bottom: 0.7em;	
}

#errorSesion{
    top: 500px;
}

/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:right;
	font-size:12px;
        border-top-left-radius: 200px 23px ;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 200px 23px ;
        z-index:100; 
	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
        border-top: 8px solid #ddd;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 0;
}

	#overlay {
		background-image:url(http://static.flowplayer.org/img/overlay/transparent.png);
		color:#efefef;
		height:450px;
	}
	
	/* container for external content. uses vertical scrollbar, if needed */
	div.contentWrap {
		height:441px;
		overflow-y:auto;
	}