/* 
    Document   : index
    Created on : 26/10/2011, 07:21:06 PM
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/***************************************************************************
* Estilo de los Contenedores Principales del Index Principal del Docente
****************************************************************************/

html{
    background-image: -webkit-gradient(linear,left top,left bottom,from( #d1ccbf ),to( #eee ));
    background-image: -webkit-linear-gradient( #d1ccbf,#eee );
    background-image: -moz-linear-gradient( #d1ccbf,#eee );
    background-image: -ms-linear-gradient( #d1ccbf,#eee );
    background-image: -o-linear-gradient( #e8ed60,#eee );
    background-image: linear-gradient( #e8ed60,#eee );
    border-color: #e8ed60;
}

body { 
    margin: 0; 
    font-size: 90%;
    min-width:1050px;
    width: 100%;
    margin:0;
    padding:0;
}

div#contenedor
{
    margin: 0 8% 0 8%;
    background: #222;
    padding: 0 1% 0 1%;
    font-size: 100%;
    /*opacity:0.9;*/
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.6);
}

div#header{
    background-image: -webkit-gradient(linear,left top,left bottom,from( #1077b7 ),to( #eee ));
    background-image: -webkit-linear-gradient( #1077b7,#eee );
    background-image: -moz-linear-gradient( #1077b7,#eee );
    background-image: -ms-linear-gradient( #1077b7,#eee );
    background-image: -o-linear-gradient( #1077b7,#eee );
    background-image: linear-gradient( #1077b7,#eee );
    border-color: #1077b7;
    padding-top: 1%;
    height: 100px;
    border-radius:0px 0px 10px 10px;
    width: 100%;
    font-size: 100%;
    clear: both;
}

div#wraper{
    height: 550px;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #d1ccbf ),to( #eee ));
    background-image: -webkit-linear-gradient( #d1ccbf,#eee );
    background-image: -moz-linear-gradient( #d1ccbf,#eee );
    background-image: -ms-linear-gradient( #d1ccbf,#eee );
    background-image: -o-linear-gradient( #e8ed60,#eee );
    background-image: linear-gradient( #e8ed60,#eee );
    border-color: #feb2b2;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
    width: 100%;
    overflow: auto;
    overflow-x:hidden;
}

div#footer{
    height: 235px;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #eee ),to( #1077b7 ));
    background-image: -webkit-linear-gradient( #eee,#1077b7 );
    background-image: -moz-linear-gradient( #eee,#1077b7 );
    background-image: -ms-linear-gradient( #eee,#1077b7 );
    background-image: -o-linear-gradient( #eee,#1077b7);
    background-image: linear-gradient( #eee,#1077b7 );
    border-color: #eee;
    border-radius:10px 10px 0px 0px;
    text-align: center;
    padding-top: 10px;
}

/*************************************************************
* Estilo de los Elementos del Contenedor HEADER
*************************************************************/

/**********************Logo de la Empresa********************/

div#header img{
    display: inline;
    float: left;
    width: 150px;
    height: 143px;
    margin-top: -30px;
}

/****************Titulo Principal del Header*****************/

#tit{
    font-family: 'Aclonica', serif;
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

/****************Estilo para el Contenedor del Menu Principal*****************/

div#menu {
    margin:30px 0 0 95px;
    height: 52px;
    padding-left: 6px;
    width:85%;
    clear: right;
    display: inline-block;
}

div#menu ul {
    margin-top:-60px;
    padding: 0;
    list-style: none;
    float: right;
    border-radius:20px;
    opacity:0.92;
    display: inline-block;
}

div#menu ul.menu {
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #222;
    display: inline-block;
}

div#menu li {
    position: relative;
    margin: 0;
    padding: 0 0px 0 0;
    float: left;
    z-index: 9;
    width: auto;
    display: inline;
    list-style: none;
}

div#menu ul ul li {
    z-index: 9;
}

div#menu li div {
    list-style: none;
    /*float: left;*/
    position: absolute;
    z-index: 11;
    top: 35px;
    left: 60px;
    visibility: hidden;
    width: 50px;
    margin: -8px 0 0 -4px;
    padding: 0; 
}


/****************Estilo para los elementos del Menu Principal*****************/

div#menu span {
    margin-top: 2px;
    padding: 0px 1px 4px 15px;
    color: #fff;
    font: normal 10 Helvetica,Arial,FreeSans,sans-serif;
    background: none;
    line-height: 36px;	
    display: block;
    cursor: pointer;
    text-align: center;
}

/****************Estilo para el Contenedor de los Submenus desplegables********/

div#menu ul ul {
    z-index: 12;
    padding: 0px 4px 10px 4px;
    background: #222;
    margin: 11px 0 0 0; 
}

/****************Estilo para visualizar los Submenus desplegables al pasar el puntero sobre sobre los botones del menu principal*****************/

div#menu li:hover>div {
    visibility: visible;
}

/****************Estilo para los elementos del menu y submenu tipo a*****************/

div#menu a {
    position: relative;
    z-index: 10;
    display: inline-block;
    float: left;
    line-height: 50px;
    text-decoration: none;
    margin:3px 3px 3px 3px;
    white-space: nowrap;
    width: auto;
    height: 35px;  
    padding: 0 10px 0 0;
    border-radius:10px;
    text-transform: uppercase;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 5px 0px 10px #ffffff, inset -5px 0px 10px #ffffff;
    -webkit-box-shadow: inset 5px 0px 10px #ffffff, inset -5px 0px 10px #ffffff; 
    -o-box-shadow: inset 5px 0px 10px #ffffff, inset -5px 0px 10px #ffffff;
}

div#menu a:hover {
    /*background:  url(../Imagenes/images/selected-right-sub.png)  no-repeat right -1px;*/
    border-radius:10px;
    background-color: #004054;
}

div#menu a:hover span {
    /*background: url(../Imagenes/images/selected-left-sub.png) no-repeat 0 -3px;*/
    border-radius:10px;
}

div#menu li.current a,
div#menu ul.menu>li:hover>a {
    /*background: url(../Imagenes/images/selected-right-sub.png)  no-repeat right -1px;*/
    border-radius:10px;
}

div#menu li.current a span,
div#menu ul.menu>li:hover>a span {
    /*background: url(../Imagenes/images/selected-left-sub.png) no-repeat 0 -3px;*/
    border-radius:10px;
}

div#menu ul.menu>li:hover>a span {
    color: #24c9ff;
}

/***********************estilo para el Submenu level 2**********************************/

div#menu ul ul li {   
    padding-top: 5px;
    padding-left: 5px;
}
div#menu ul ul a {
    padding: 0px;
    height: auto;
    float: none;
    display: block;
    line-height: 25px;
    font-size: 15px;
    color: #fff;
    z-index: -1;
    padding-left: 5px;
    margin-bottom: 1px;
    white-space: normal;
    width: 130px;
    /*margin: 0 8px;*/
    text-transform: none;
}

div#menu ul ul a span {
    padding: 0 5px;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
    font-size: 15px;    
}

div#menu li.current ul a,
div#menu li.current ul a span {
    background:none;
}

div#menu ul ul a:hover {
 background:none;
 background-color: #004054;
}

div#menu ul ul a:active{
  position: relative;
  top: 1px;
  outline: none;  
}

div#menu ul ul a:hover span {
	background:none;
	color: #24c9ff;
}

div#menu ul ul span {	
    margin-top: 0;
    text-align: left;
}

div#menu ul ul li.last { 
    background: none; 
}

div#menu ul ul li {
    width: 100%;
}

#menseg li a{
    background: none;
}

div#menseg li a span{
    width: 10px;
}

/************Estilo Boton Cerrar SESION**************/

div#menu a#cerrar{
    background-color: lightyellow;
    box-shadow: 0 0 10px black inset;
}

div#menu a#cerrar:hover{
    background-color: black;
    box-shadow: 0 10px 10px white inset;
    opacity: 0.9;
    color: white;
}

div#menu a#cerrar:active{
    position: relative;
    top: 1px;
    outline: none;
}

div#menu a#informe:active, a#reporte:active{
    position: relative;
    top: 1px;
    outline: none;
}

div#menu span#salir:hover{
    color: white;
    font-weight: bold;
    font-family:"Times New Roman", serif;
    margin: 0px;
}

div#menu span#salir{
    color: black;
    font-weight: bold;
    font-family:"Times New Roman", serif;
    margin: 0px;
}

/*************************************************************
* Estilo de los Elementos del Contenedor FOOTER
*************************************************************/

div#footer label{
    color: white;
    font-size: 27px;
    font-weight: bold;
    font-family:"Times New Roman", serif;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333, 0 8px 7px #001135;
}

div#footer label#nombreusuario{
    font-size: 17px;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777;
    margin-bottom: 10px;
}

div#footer label#estilo1{
    font-size: 15px;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666;
}

div#footer label#estilo2{
    font-size: 15px;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777;
}

div#footer label#estilo3{
    font-size: 17px;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666;
}


