/* 
    Document   : estiloFormularios
    Created on : 29/10/2011, 02:46:48 AM
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


fieldset#fiel{
    border-radius:10px;
    width: 350px;
    margin: 0 auto;
    background:#cafc99;
    background-position: inherit inherit;
    background-repeat:no-repeat;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 15px;
    -moz-box-shadow:inset  0 0 10px #4db849;
    -o-box-shadow:inset  0 0 10px #4db849;
    -webkit-box-shadow:inset 0 0 14px #4db849;
    box-shadow:inset 0 0 14px #4db849;
    border: none;
}

fieldset#fiel1{
    border-radius:10px;
    width: 170px;
    background: #add8e6 url(../../Imagenes/Coordinador/images/blanco.png);
    background-position: inherit inherit;
    background-repeat:no-repeat;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    -moz-box-shadow:inset  0 0 10px #339cdf;
    -o-box-shadow:inset  0 0 10px #339cdf;
    -webkit-box-shadow:inset 0 0 14px #339cdf;
    box-shadow:inset 0 0 14px #339cdf;
    border: none;   
}

fieldset#fiel2{
    border-radius:10px;
    width: 270px;
    margin-top: 0px;
    background: #add8e6  url(../../Imagenes/Coordinador/images/blanco.png);
    background-position: inherit inherit;
    background-repeat:no-repeat;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    -moz-box-shadow:inset  0 0 10px #339cdf;
    -o-box-shadow:inset  0 0 10px #339cdf;
    -webkit-box-shadow:inset 0 0 14px #339cdf;
    box-shadow:inset 0 0 14px #339cdf;
    border: none;

}

fieldset#fiel3{
    border-radius:10px;
    width: 270px;
    margin-top: 0px;
    background: #add8e6  url(../../Imagenes/Coordinador/images/blanco.png);
    background-position: inherit inherit;
    background-repeat:no-repeat;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    -moz-box-shadow:inset  0 0 10px #339cdf;
    -o-box-shadow:inset  0 0 10px #339cdf;
    -webkit-box-shadow:inset 0 0 14px #339cdf;
    box-shadow:inset 0 0 14px #339cdf;
    border: none;
}

#enviar{
    font-size:13px;
    padding:6px;
    border:solid 1px;
    width:150px;
    margin-left:100px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-weight: 600; 
    font-family: "Homer Simpson", cursive; 
    background: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #e6e6e6 ),to( #48622d ));
    background-image: -webkit-linear-gradient( #e6e6e6,#48622d );
    background-image: -moz-linear-gradient( #e6e6e6,#48622d );
    background-image: -ms-linear-gradient( #e6e6e6,#48622d );
    background-image: -o-linear-gradient( #e6e6e6,#48622d );
    background-image: linear-gradient( #e6e6e6,#48622d );
    border-color: #e6e6e6;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);   
}

#enviar:hover{
    background: #45a74f;
    cursor: pointer;
    box-shadow: inset 2 2 10px #ffffff;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #60e96e ),to( #29642f ));
    background-image: -webkit-linear-gradient( #60e96e,#29642f );
    background-image: -moz-linear-gradient( #60e96e,#29642f);
    background-image: -ms-linear-gradient( #60e96e,#29642f);
    background-image: -o-linear-gradient( #60e96e,#29642f );
    background-image: linear-gradient( #60e96e,#29642f );
    border-color: #45a74f;
}

#enviar:active{
    position: relative;
    top: 2px;
}

#span2{
    margin-left: 90px;
}

h1{
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa;
    text-align: center;
}

select{
    font-size: 12px;
    padding: 5px;
    border:solid 1px #98cb98;
    width: 260px;
    border-radius: 6px;
    outline: none;
    margin-left: 60px;
    margin-top: 6px;
    text-transform: capitalize;
}

#fielx{
    background: #add8e6;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2671f0;
    -moz-box-shadow: 0 0 10px #2671f0;
    -o-box-shadow: 0 0 10px #2671f0;
    -webkit-box-shadow: 0 0 10px #2671f0;
}

textarea{
    color:#666;
    font-size:14px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    margin:5px 0px 10px 0px;
    padding:10px;
    height:20px;
    width:240px;
    border:#999 1px solid;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}


#text1{
    border-radius:8px;
    width: 145px;
    outline: none;
}

textarea:focus{
    color:#000;
    outline:none;
    border:rgba(0, 0, 255, 1) 1px solid;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-shadow: 0 0 7px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 255, 1);
    border-radius:5px;
}

input[type="text"]{
    border-radius:5px;
    width: 250px;
    padding: 5px;
    outline: none;
    font-size:12px;
    border:solid 1px #98cb98;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}


input:focus{
    border-radius:5px;
    color:#000;
    outline:none;
    box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    -webkit-box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    -moz-box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

#btn1{
    margin-left: 45%;    
}


/*estilo registro proyecto*/

fieldset#fieladdproyecto{
    border-radius:10px;
    width: 400px;
    margin: 0 auto;
    background: #cafc99;
    background-position: inherit inherit;
    background-repeat:no-repeat;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 15px;
    -moz-box-shadow:inset  0 0 10px #4db849;
    -o-box-shadow:inset  0 0 10px #4db849;
    -webkit-box-shadow:inset 0 0 14px #4db849;
    box-shadow:inset 0 0 14px #4db849;
    border: none;
    font-size: 15px;
}

fieldset#fieladdproyecto input[type="text"]{
    border-radius:5px;
    width: 250px;
    padding: 5px;
    outline: none;
    font-size:12px;
    border:solid 1px #98cb98;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

fieldset#fieladdproyecto input:focus{
    border-radius:5px;
    color:#000;
    outline:none;
    box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    -webkit-box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    -moz-box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

fieldset#fieladdproyecto #tituloabreviado{
    border-radius:5px;
    width: 250px;
    padding: 5px;
    outline: none;
    font-size:12px;
    border:solid 1px #98cb98;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 18px;
}
fieldset#fieladdproyecto #titulop{
    margin-left: 85px;
}

fieldset#fieladdproyecto #codigo{
    margin-left: 75px;
}

fieldset#fieladdproyecto #comboestado{
    margin-left: 88px;
    border:solid 1px #98cb98;
}

fieldset#fieladdproyecto #descripcion{
    margin-left: 122px;
    margin-top: -30px;
    color:#666;
    border:solid 1px #98cb98;
    font-size:14px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    padding:10px;
    height:20px;
    width:240px;
}

fieldset#fieladdproyecto #descripcion:focus{
    color:#000;
    outline:none;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    -webkit-box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    -moz-box-shadow: 0 0 7px rgba(0,128,0, 0.7);
    border-radius:8px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

fieldset#fieladdproyecto #des{
    display: block;
}

fieldset#fieladdproyecto .demo{
    padding: 0px;
}

fieldset#fieladdproyecto #datepicker{
    margin-left: 38px;
}

fieldset#fieladdproyecto #tipo{
    margin-left: 90px;
    border:solid 1px #98cb98;
}

fieldset#fieladdproyecto #institucion{
    border-radius:5px;
    width: 250px;
    padding: 5px;
    outline: none;
    font-size:12px;
    border:solid 1px #98cb98;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 58px;
}

fieldset#fieladdproyecto #insti{
    color: red;
    margin-top: 500px;
}

fieldset#fieladdproyecto #radios{
    margin-left: 130px;
}

fieldset#fieladdproyecto #activo{
    margin-right: 30px;
}

#enviarproyecto{
    font-size:15px;
    padding:6px;
    border:solid 1px #aacfe4;
    width:270px;
    margin-left:65px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-weight: 600; 
    font-family: "Homer Simpson", cursive; 
    background: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #e6e6e6 ),to( #48622d ));
    background-image: -webkit-linear-gradient( #e6e6e6,#48622d );
    background-image: -moz-linear-gradient( #e6e6e6,#48622d );
    background-image: -ms-linear-gradient( #e6e6e6,#48622d );
    background-image: -o-linear-gradient( #e6e6e6,#48622d );
    background-image: linear-gradient( #e6e6e6,#48622d );
    border-color: #e6e6e6;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);     
}

#enviarproyecto:hover{
    background: #45a74f;
    cursor: pointer;
    box-shadow: inset 2 2 10px #ffffff;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #60e96e ),to( #29642f ));
    background-image: -webkit-linear-gradient( #60e96e,#29642f );
    background-image: -moz-linear-gradient( #60e96e,#29642f);
    background-image: -ms-linear-gradient( #60e96e,#29642f);
    background-image: -o-linear-gradient( #60e96e,#29642f );
    background-image: linear-gradient( #60e96e,#29642f );
    border-color: #45a74f;
}

#enviarproyecto:active{
    position: relative;
    top: 2px;
}

#resultados{
    text-align: center;
    color: red;
    font-size: 20px;
}