/* 
    Document   : estiloFormularios
    Created on : 29/10/2011, 02:46:48 AM
    Author     : Alex
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body{
    background-image: -webkit-gradient(linear,left top,left bottom,from( #d1ccbf ),to( #eee ));
    background-image: -webkit-linear-gradient( #d1ccbf,#eee );
    background-image: -moz-linear-gradient( #d1ccbf,#eee );
    background-image: -ms-linear-gradient( #d1ccbf,#eee );
    background-image: -o-linear-gradient( #e8ed60,#eee );
    background-image: linear-gradient( #e8ed60,#eee );
    border-color: #e8ed60;
}
fieldset#fiel{
    border-radius:10px;
    width: 270px;
    margin: auto;
    background: #add8e6  url(../../Imagenes/Coordinador/images/blanco.png);
    background-position: inherit inherit;
    background-repeat:no-repeat;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 15px;
    -moz-box-shadow:inset  0 0 10px #339cdf;
    -o-box-shadow:inset  0 0 10px #339cdf;
    -webkit-box-shadow:inset 0 0 14px #339cdf;
    box-shadow:inset 0 0 14px #339cdf;
    border: none;
}

h1#titulos{
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    text-align: center;
}

input[type="text"]{
    border-radius:5px;
    width: 250px;
    padding: 5px;
    outline: none;
    font-size:12px;
    border:solid 1px #aacfe4;
    margin-top: 5px;
    margin-bottom: 5px;
}


input:focus{
    border-radius:5px;
    outline:none;
    box-shadow: 0 0 7px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 255, 1);
     transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

#enviar, #enviarp{
    font-size:15px;
    padding:6px;
    border:solid 1px #aacfe4;
    width:170px;
    margin-left:50px;
    margin-top: 5px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 8px 6px -6px #2671f0;
    text-align: center;
    font-weight: bold;
    font-weight: 600; 
    font-family: "Homer Simpson", cursive; 
    background-image: -webkit-gradient(linear,left top,left bottom,from( #DADADA ),to( #eee ));
    background-image: -webkit-linear-gradient( #DADADA,#eee );
    background-image: -moz-linear-gradient( #DADADA,#eee );
    background-image: -ms-linear-gradient( #DADADA,#eee );
    background-image: -o-linear-gradient( #DADADA,#eee );
    background-image: linear-gradient( #DADADA,#eee );
    border-color: #DADADA;
}

#enviar:hover, #enviarp:hover{
    background: #9ec0f8;
    cursor: pointer;
    box-shadow: inset 2 2 10px #ffffff;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #a6d9f2 ),to( #0071bc ));
    background-image: -webkit-linear-gradient( #a6d9f2,#0071bc );
    background-image: -moz-linear-gradient( #a6d9f2,#0071bc);
    background-image: -ms-linear-gradient( #a6d9f2,#0071bc);
    background-image: -o-linear-gradient( #a6d9f2,#0071bc );
    background-image: linear-gradient( #a6d9f2,#0071bc );
    border-color: #0071bc;
}

#enviar:active, #enviarp:active{
    position: relative;
    top: 2px;
}

#resultados{
    text-align: center;
    color: red;
}


.spacer{clear:both; height:1px;}
/* ———– My Form ———– */
.myform{
    margin:0 auto;
    width:800px;
    padding:12px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 0 10px #2671f0;
    -moz-box-shadow: 0 0 10px #2671f0;
    -o-box-shadow: 0 0 10px #2671f0;
    -webkit-box-shadow: 0 0 10px #2671f0;
}
/* ———– stylized ———– */
#stylized{
    border:solid 2px #b7ddf2;
    background: #add8e6  url(../../Imagenes/Coordinador/images/blanco.png);
    margin-top: 30px;
    margin-bottom: 20px;
}
#stylized h1 {
    font-size:16px;
    font-weight:bold;
    margin-bottom:10px;
    border-bottom:solid 1px #b7ddf2;
    box-shadow: 0 8px 6px -6px #2671f0;
    padding-bottom:10px;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#stylized label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:160px;
    float:left;
    font-size: 14px;
    padding-top: 4px;
}


#form .error{
    color:#000;
    outline:none;
    box-shadow: 0 0 6px rgba(255, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 6px rgba(255, 0, 0, 1.0);
    -moz-box-shadow: 0 0 6px rgba(255, 0, 0, 1.0);
}


#stylized input{
    float:left;
    font-size:12px;
    padding:5px;
    border:solid 1px #aacfe4;
    width:150px;
    margin:2px 0 8px 10px;
    border-radius: 8px;
    outline: none;
}

#stylized select{
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    margin: 2px 0 8px 10px;
    width: 160px;
    border-radius: 6px;
    outline: none;
}

#stylized #boton2{
    font-size:15px;
    padding:7px;
    border:solid 1px #aacfe4;
    width:400px;
    margin-left:200px;
    margin-top: 15px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 8px 6px -6px #2671f0;
    text-align: center;
    font-weight: bold;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #DADADA ),to( #eee ));
    background-image: -webkit-linear-gradient( #DADADA,#eee );
    background-image: -moz-linear-gradient( #DADADA,#eee );
    background-image: -ms-linear-gradient( #DADADA,#eee );
    background-image: -o-linear-gradient( #DADADA,#eee );
    background-image: linear-gradient( #DADADA,#eee );
    border-color: #DADADA;
}


input[type="file"]{
    float:left;
    font-size:12px;
    padding:2px 2px;
    border:solid 1px #aacfe4;
    width:150px;
    margin:2px 0 8px 10px;
    border-radius: 8px;
    outline: none;
}

#stylized #boton2:hover{
    background: #9ec0f8;
    cursor: pointer;
    box-shadow: inset 2 2 10px #ffffff;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from( #a6d9f2 ),to( #0071bc ));
    background-image: -webkit-linear-gradient( #a6d9f2,#0071bc );
    background-image: -moz-linear-gradient( #a6d9f2,#0071bc);
    background-image: -ms-linear-gradient( #a6d9f2,#0071bc);
    background-image: -o-linear-gradient( #a6d9f2,#0071bc );
    background-image: linear-gradient( #a6d9f2,#0071bc );
    border-color: #0071bc;
}

#stylized #boton2:active{
    position: relative;
    top: 2px;
}

select#combofacultades{
    width: 260px;
    padding: 4px;
    -moz-width:240px;
    border-radius: 4px;
    outline: none;
    border:solid 1px #aacfe4;
}

#stylized #resultados{
    text-align: center;
    color: red;
    font-size: 20px;
}

#imagen{
    opacity: 0.4;
    margin-left: 111px;
    margin-top: 10px;
}

#imagen:hover{
    opacity: 0.9;
}
